{% extends 'base.html' %}
{% load tailwind_filters %}


{% block content %}
<div class="h-100 w-full flex items-center justify-center font-sans">
    <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">   
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="flex p-2 border-2 rounded text-green-600 border-teal hover:text-white hover:bg-green-300" type="submit">Add</button>
        </form>
    </div>
</div>
{% endblock content %}
    